@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Utilize o menu acima "Sistema de Ponto Turistico" para acessar o sistema.</p><br /><br />
    <p><b>Recursos que foram utilizados neste sistema:</b></p>
    <p><b>Frontend:</b> Framework Bootstrap</p>
    <p><b>Backend:</b> C# utilizando o método MVC</p>
    <p><b>Plugins:</b> DataTables, Jquery Mask, API Via CEP - Busca de CEP.</p>
</div>
