@{
    ViewData["Title"] = "Confirmação apagar ponto turistico";
}

<div class="text-center">
    <h3>Realmente deseja apagar o ponto turistico?</h3><br />
    <a class="btn btn-primary btn-block" asp-action="Index" asp-controller="PontoTuristico" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" asp-action="Apagar" asp-controller="PontoTuristico" role="button">Confirmar exclusão</a>
</div>
